# local
.vscode

# log
*.log
*.log.*

# dependencies
node_modules

dist
es
lib
typings
tsconfig.tsbuildinfo
target

# test
coverage

packages/ui/public/build

# website

!website/*
.DS_Store
packages/.DS_Store
packages/core/.DS_Store
packages/transporter/.DS_Store
